* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

html {
    font-size: 10px;
}

p {
    font-size: 1.6rem;
}


/* variables */

:root {
 --Dark-Blue: hsl(233, 26%, 24%);
--Lime-Green: hsl(136, 65%, 51%);
--Bright-Cyan: hsl(192, 70%, 51%);

--Grayish-Blue: hsl(233, 8%, 62%);
--Light-Grayish-Blue: hsl(220, 16%, 96%);
--Very-Light-Gray: hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%);

}

.counter h1 {
    font-size: 3rem;
    text-align: center;
}

.count {
    font-size: 4rem;
    text-align: center;
    border: 1px solid #fff;
    display: inline-block ;
    padding: 2rem 3rem;
    border-radius: 50%;
}


.counter {
    width: 400px;
    background: var(--Bright-Cyan) ;
    padding: 1rem;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

.counter > div {
    margin: 3rem  3rem;
}


.btn {
    padding: .5rem;
    border: 1px solid var(--Grayish-Blue) ;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.Substract {
    background: red;
}

.Reset {
    background: #fff;
}

.Add {
    background: limegreen;
}


